---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import GalleryComponent from "@components/GalleryComponent";

// 读取 public/imgs/ 文件夹下的图片
const images = import.meta.glob("/public/imgs/*.{jpg,jpeg,png,gif}", { eager: true });

// 提取图片路径
const imagePaths = Object.values(images).map((image) => image.default);
---

<Layout title={`Gallery | ${SITE.title}`}>
  <Header activeNav="gallery" />
  <Main pageTitle="Gallery" pageDesc="Browse our photo gallery ...">
    <GalleryComponent images={imagePaths} />
  </Main>
  <Footer />
</Layout>

<style>
  .my-masonry-grid {
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
  }
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 20px;
  }
</style>
