---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import fs from "fs";
import path from "path";

// 获取图片文件列表
const photosDir = "./public/imgs";
const photoFiles = fs.readdirSync(photosDir).filter(file => /\.(gif|jpg|jpeg|tiff|png|bmp|webp|avif|jxl)$/i.test(file));

// 对图片文件进行排序
photoFiles.sort((a, b) => b.localeCompare(a));
---

<Layout title={`Gallery | ${SITE.title}`}>
  <Header activeNav="gallery" />
  <Main pageTitle="Gallery" pageDesc="Browse our photo gallery ...">
    <div class="gallery-photos page">
      {photoFiles.map(file => (
        <div class="gallery-photo">
          <img class="photo-img" loading='lazy' decoding="async" src={`/photos/${file}`} alt={file} />
          <span class="photo-title">{file.replace(/^[0-9 -]+(.*)[.].*/, "$1")}</span>
          <span class="photo-time">{file.replace(/^([0-9-]+).*[.].*/, "$1")}</span>
        </div>
      ))}
    </div>
  </Main>
  <Footer />
</Layout>

<style>
.gallery-photos { width: 100%; }
.gallery-photo { width: 24.9%; position: relative; visibility: hidden; overflow: hidden; }
.gallery-photo.visible { visibility: visible; animation: fadeIn 2s; }
.gallery-photo img { display: block; width: 100%; border-radius: 0; padding: 4px; animation: fadeIn 1s; cursor: pointer; transition: all .4s ease-in-out; }
.gallery-photo span.photo-title, .gallery-photo span.photo-time { background: rgba(0, 0, 0, 0.3); padding: 0px 8px; font-size: 0.9rem; color: #fff; display: none; animation: fadeIn 1s; }
.gallery-photo span.photo-title { position: absolute; bottom: 4px; left: 4px; }
.gallery-photo span.photo-time { position: absolute; top: 4px; left: 4px; font-size: 0.8rem; }
.gallery-photo:hover span.photo-title { display: block; }
.gallery-photo:hover img { transform: scale(1.1); }
@media screen and (max-width: 1280px) { .gallery-photo { width: 33.3%; } }
@media screen and (max-width: 860px) { .gallery-photo { width: 49.9%; } }
@media (max-width: 683px) { .photo-time { display: none; } }
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
</style>

<script src="https://immmmm.com/waterfall.min.js"></script>
<script src="https://immmmm.com/imgStatus.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    imgStatus.watch('.photo-img', function(imgs) {
      if(imgs.isDone()){
        waterfall('.gallery-photos');
        let pagePhoto = document.querySelectorAll('.gallery-photo');
        for(var i=0;i < pagePhoto.length;i++){pagePhoto[i].className += " visible"};
      }
    });
    window.addEventListener('resize', function () {
      waterfall('.gallery-photos');
    });
});
</script>
<script src="https://immmmm.com/view-image.js"></script>
<script src="https://immmmm.com/lately.min.js"></script>
<script>
  window.Lately && Lately.init({ target: '.photo-time'});
  window.ViewImage && ViewImage.init('.gallery-photo img')
</script>
